body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding:0;
    margin:0;
    background-color:#f4f4f4;
  }
  
  /* Global */
  .container{
    width:80%;
    margin:auto;
    overflow:hidden;
  }
  
  ul{
    margin:0;
    padding:0;
  }
  
  .button_1{
    height:38px;
    background:#093145;
    border:0;
    padding-left: 20px;
    padding-right:20px;
    color:#ffffff;
  }
  
  .dark{
    padding:15px;
    background:#093145;
    color:#ffffff;
    margin-top:10px;
    margin-bottom:10px;
  }
  
  /* Header **/
  header{
    background:#ffffff;
    color:#050505;
    padding-top:30px;
    min-height:70px;
    border-bottom:#093145 3px solid;
  }
  
  header a{
    color:#020202;
    text-decoration:none;
    text-transform: uppercase;
    font-size:16px;
  }
  
  header li{
    float:left;
    display:inline;
    padding: 0 20px 0 20px;
  }
  
  header #branding{
    float:left;
  }
  
  header #branding h1{
    margin:0;
  }
  
  header nav{
    float:right;
    margin-top:10px;
  }
  
  header .highlight, header .current a{
    color:#093145;
    font-weight:bold;
  }
  
  header a:hover{
    color:#cccccc;
    font-weight:bold;
  }
  
  /* Showcase */
  #showcase{
    min-height:300px;
    background:url('../img/Events.jpeg') no-repeat 0 -400px;
    text-align:center;
    color:#ffffff;
  }
  
  #showcase h1{
    margin-top:100px;
    font-size:55px;
    margin-bottom:10px;
  }
  
  #showcase p{
    font-size:20px;
  }
  
  * Showcase1 */
  #showcase1{
    min-height:300px;
    text-align:center;
    color:#ffffff;
  }
  
  #showcase1 h1{
    margin-top:100px;
    font-size:55px;
    margin-bottom:10px;
  }
  
  #showcase1 p{
    font-size:20px;
  }
  
  #showcase1 img{
    width:100%;
  }
  
  
  /* About */
  #About{
    min-height:100px;
    background-color: #eaeaea;
    text-align:center;
    color:#272727;
    margin-bottom: 20px; 
  }
  
  #About h1{
    margin-top:10px;
    font-size:35px;
    margin-bottom:10px;
  }
  
  #About p{
    font-size:20px;
  }
  
  /* Newsletter */
  #newsletter{
    padding:15px;
    color:#070707;
    background:#ffffff
  }
  
  #newsletter h1{
    float:left;
  }
  
  #newsletter form {
    float:right;
    margin-top:15px;
  }
  
  #newsletter input[type="email"]{
    padding:4px;
    height:25px;
    width:250px;
  }
  
  /* Boxes */
  #boxes{
    margin-top:20px;
  }
  
  #boxes .box{
    float:left;
    text-align: center;
    width:46%;
    padding:10px;
  }
  
  #boxes .box img{
    width:50%;
    
  }
  #boxes p{
    font-size:15px;
  }
  
  /* Boxes */
  #boxes1{
    margin-top:20px;
  }
  
  #boxes1 .box1{
    float:left;
    text-align: center;
    width:30%;
    padding:10px;
  }
  
  #boxes1 .box1 img{
    width:100%;
  }
  
  #boxes p{
    font-size:15px;
  }
  
  /* Sidebar */
  aside#sidebar{
    float:right;
    width:30%;
    margin-top:10px;
  }
  
  aside#sidebar .quote input, aside#sidebar .quote textarea{
    width:90%;
    padding:5px;
  }
  
  /* Main-col */
  article#main-col{
    float:left;
    width:65%;
  }
  
  /* Sports-col */
  article#sports-col{
    float:centre;
    width:100%;
    background: #ffffff;
  }
  
  /* Services */
  ul#services li{
    list-style: none;
    padding:20px;
    border: #cccccc solid 1px;
    margin-bottom:5px;
    background:#e6e6e6;
  }
  
  footer{
    padding:10px;
    margin-top:10px;
    color:#ffffff;
    background-color:#e8491d;
    text-align: center;
  }
  
  /* Media Queries */
  @media(max-width: 768px){
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    article#main-col,
    aside#sidebar{
      float:none;
      text-align:center;
      width:100%;
    }
  
    header{
      padding-bottom:20px;
    }
  
    #showcase h1{
      margin-top:40px;
    }
  
    #newsletter button, .quote button{
      display:block;
      width:100%;
    }
  
    #newsletter form input[type="email"], .quote input, .quote textarea{
      width:100%;
      margin-bottom:5px;
    }
  }
  
  /* Responsive image gallery */
  
  div.gallery {
      border: 1px solid #ccc;
  }
  
  div.gallery:hover {
      border: 1px solid #777;
  }
  
  div.gallery img {
      width: 100%;
      height: auto;
  }
  
  div.desc {
      padding: 15px;
      text-align: center;
  }
  
  * {
      box-sizing: border-box;
  }
  
  .responsive {
      padding: 0 6px;
      float: left;
      width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px){
      .responsive {
          width: 49.99999%;
          margin: 6px 0;
      }
  }
  
  @media only screen and (max-width: 500px){
      .responsive {
          width: 100%;
      }
  }
  
  .clearfix:after {
      content: "";
      display: table;
      clear: both;
  }
  
  